body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
	overflow: hidden;
}

.stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	transform: rotate(-45deg);
}

.star {
	--star-color: var(--primary-color);
	--star-tail-length: 6em;
	--star-tail-height: 2px;
	--star-width: calc(var(--star-tail-length) / 6);
	--fall-duration: 9s;
	--tail-fade-duration: var(--fall-duration);
	position: absolute;
	top: var(--top-offset);
	left: 0;
	width: var(--star-tail-length);
	height: var(--star-tail-height);
	color: var(--star-color);
	background: linear-gradient(45deg, currentColor, transparent);
	border-radius: 50%;
	filter: drop-shadow(0 0 6px currentColor);
	transform: translate3d(104em, 0, 0);
	animation:
		fall var(--fall-duration) var(--fall-delay) linear infinite,
		tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
	.star {
		animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
	}
}
.star:nth-child(1) {
	--star-tail-length: 6.7em;
	--top-offset: 61.64vh;
	--fall-duration: 11.315s;
	--fall-delay: 8.047s;
}
.star:nth-child(2) {
	--star-tail-length: 6.9em;
	--top-offset: 37.22vh;
	--fall-duration: 10.673s;
	--fall-delay: 3.737s;
}
.star:nth-child(3) {
	--star-tail-length: 5.29em;
	--top-offset: 31.93vh;
	--fall-duration: 9.003s;
	--fall-delay: 9.4s;
}
.star:nth-child(4) {
	--star-tail-length: 6.72em;
	--top-offset: 16.58vh;
	--fall-duration: 9.654s;
	--fall-delay: 1.534s;
}
.star:nth-child(5) {
	--star-tail-length: 6.51em;
	--top-offset: 8.14vh;
	--fall-duration: 11.892s;
	--fall-delay: 7.192s;
}
.star:nth-child(6) {
	--star-tail-length: 6.08em;
	--top-offset: 97.62vh;
	--fall-duration: 9.712s;
	--fall-delay: 4.694s;
}
.star:nth-child(7) {
	--star-tail-length: 5.28em;
	--top-offset: 48.83vh;
	--fall-duration: 11.634s;
	--fall-delay: 4.992s;
}
.star:nth-child(8) {
	--star-tail-length: 6.45em;
	--top-offset: 9.87vh;
	--fall-duration: 6.052s;
	--fall-delay: 0.084s;
}
.star:nth-child(9) {
	--star-tail-length: 5.73em;
	--top-offset: 26.37vh;
	--fall-duration: 11.742s;
	--fall-delay: 8.31s;
}
.star:nth-child(10) {
	--star-tail-length: 5.06em;
	--top-offset: 17.49vh;
	--fall-duration: 9.301s;
	--fall-delay: 9.498s;
}
.star:nth-child(11) {
	--star-tail-length: 6.43em;
	--top-offset: 79.56vh;
	--fall-duration: 8.222s;
	--fall-delay: 1.892s;
}
.star:nth-child(12) {
	--star-tail-length: 5.65em;
	--top-offset: 12.96vh;
	--fall-duration: 10.648s;
	--fall-delay: 0.062s;
}
.star:nth-child(13) {
	--star-tail-length: 7.27em;
	--top-offset: 84.82vh;
	--fall-duration: 8.056s;
	--fall-delay: 1.833s;
}
.star:nth-child(14) {
	--star-tail-length: 7.25em;
	--top-offset: 59.21vh;
	--fall-duration: 11.207s;
	--fall-delay: 5.434s;
}
.star:nth-child(15) {
	--star-tail-length: 6.67em;
	--top-offset: 99.46vh;
	--fall-duration: 6.892s;
	--fall-delay: 1.308s;
}
.star:nth-child(16) {
	--star-tail-length: 5.24em;
	--top-offset: 84.18vh;
	--fall-duration: 11.112s;
	--fall-delay: 9.043s;
}
.star:nth-child(17) {
	--star-tail-length: 7.2em;
	--top-offset: 29.33vh;
	--fall-duration: 9.14s;
	--fall-delay: 3.869s;
}
.star:nth-child(18) {
	--star-tail-length: 5.93em;
	--top-offset: 42.56vh;
	--fall-duration: 11.399s;
	--fall-delay: 5.739s;
}
.star:nth-child(19) {
	--star-tail-length: 7.19em;
	--top-offset: 86.95vh;
	--fall-duration: 11.68s;
	--fall-delay: 2.501s;
}
.star:nth-child(20) {
	--star-tail-length: 5.83em;
	--top-offset: 67.56vh;
	--fall-duration: 7.816s;
	--fall-delay: 3.025s;
}
.star:nth-child(21) {
	--star-tail-length: 5.82em;
	--top-offset: 32.89vh;
	--fall-duration: 10.257s;
	--fall-delay: 4.065s;
}
.star:nth-child(22) {
	--star-tail-length: 6.93em;
	--top-offset: 40.22vh;
	--fall-duration: 6.541s;
	--fall-delay: 7.023s;
}
.star:nth-child(23) {
	--star-tail-length: 7.15em;
	--top-offset: 16.73vh;
	--fall-duration: 8.594s;
	--fall-delay: 6.652s;
}
.star:nth-child(24) {
	--star-tail-length: 5.37em;
	--top-offset: 11.63vh;
	--fall-duration: 11.996s;
	--fall-delay: 1.508s;
}
.star:nth-child(25) {
	--star-tail-length: 6.27em;
	--top-offset: 38.73vh;
	--fall-duration: 10.309s;
	--fall-delay: 8.123s;
}
.star:nth-child(26) {
	--star-tail-length: 7.34em;
	--top-offset: 78.25vh;
	--fall-duration: 9.28s;
	--fall-delay: 5.463s;
}
.star:nth-child(27) {
	--star-tail-length: 6.46em;
	--top-offset: 1.24vh;
	--fall-duration: 10.885s;
	--fall-delay: 0.356s;
}
.star:nth-child(28) {
	--star-tail-length: 5.73em;
	--top-offset: 84.23vh;
	--fall-duration: 8.858s;
	--fall-delay: 0.247s;
}
.star:nth-child(29) {
	--star-tail-length: 6.05em;
	--top-offset: 93.7vh;
	--fall-duration: 8.675s;
	--fall-delay: 6.059s;
}
.star:nth-child(30) {
	--star-tail-length: 5.24em;
	--top-offset: 62.65vh;
	--fall-duration: 7.076s;
	--fall-delay: 0.889s;
}
.star:nth-child(31) {
	--star-tail-length: 6.83em;
	--top-offset: 54.2vh;
	--fall-duration: 11.876s;
	--fall-delay: 8.215s;
}
.star:nth-child(32) {
	--star-tail-length: 6.27em;
	--top-offset: 3.21vh;
	--fall-duration: 8.042s;
	--fall-delay: 0.289s;
}
.star:nth-child(33) {
	--star-tail-length: 5.82em;
	--top-offset: 33.61vh;
	--fall-duration: 8.722s;
	--fall-delay: 5.737s;
}
.star:nth-child(34) {
	--star-tail-length: 5.45em;
	--top-offset: 52.11vh;
	--fall-duration: 6.815s;
	--fall-delay: 4.787s;
}
.star:nth-child(35) {
	--star-tail-length: 5.61em;
	--top-offset: 10.8vh;
	--fall-duration: 9.668s;
	--fall-delay: 6.156s;
}
.star:nth-child(36) {
	--star-tail-length: 6.55em;
	--top-offset: 59.04vh;
	--fall-duration: 10.361s;
	--fall-delay: 5.929s;
}
.star:nth-child(37) {
	--star-tail-length: 6.98em;
	--top-offset: 4.51vh;
	--fall-duration: 8.739s;
	--fall-delay: 0.118s;
}
.star:nth-child(38) {
	--star-tail-length: 5.03em;
	--top-offset: 62.17vh;
	--fall-duration: 11.505s;
	--fall-delay: 2.596s;
}
.star:nth-child(39) {
	--star-tail-length: 7.47em;
	--top-offset: 94.01vh;
	--fall-duration: 10.523s;
	--fall-delay: 5.271s;
}
.star:nth-child(40) {
	--star-tail-length: 6.76em;
	--top-offset: 15.95vh;
	--fall-duration: 11.824s;
	--fall-delay: 1.474s;
}
.star:nth-child(41) {
	--star-tail-length: 6.57em;
	--top-offset: 53.35vh;
	--fall-duration: 11.846s;
	--fall-delay: 1.206s;
}
.star:nth-child(42) {
	--star-tail-length: 5.71em;
	--top-offset: 25.92vh;
	--fall-duration: 11.43s;
	--fall-delay: 9.044s;
}
.star:nth-child(43) {
	--star-tail-length: 7.17em;
	--top-offset: 64.96vh;
	--fall-duration: 11.455s;
	--fall-delay: 8.307s;
}
.star:nth-child(44) {
	--star-tail-length: 6.89em;
	--top-offset: 67.09vh;
	--fall-duration: 9.808s;
	--fall-delay: 1.405s;
}
.star:nth-child(45) {
	--star-tail-length: 6.56em;
	--top-offset: 47.34vh;
	--fall-duration: 7.617s;
	--fall-delay: 8.416s;
}
.star:nth-child(46) {
	--star-tail-length: 5.52em;
	--top-offset: 14.42vh;
	--fall-duration: 6.559s;
	--fall-delay: 9.944s;
}
.star:nth-child(47) {
	--star-tail-length: 6.28em;
	--top-offset: 40.99vh;
	--fall-duration: 6.334s;
	--fall-delay: 7.396s;
}
.star:nth-child(48) {
	--star-tail-length: 6.3em;
	--top-offset: 23.29vh;
	--fall-duration: 6.157s;
	--fall-delay: 0.506s;
}
.star:nth-child(49) {
	--star-tail-length: 6.49em;
	--top-offset: 28.97vh;
	--fall-duration: 9.847s;
	--fall-delay: 1.432s;
}
.star:nth-child(50) {
	--star-tail-length: 6.96em;
	--top-offset: 1.37vh;
	--fall-duration: 7.635s;
	--fall-delay: 4.818s;
}
.star::before,
.star::after {
	position: absolute;
	content: '';
	top: 0;
	left: calc(var(--star-width) / -2);
	width: var(--star-width);
	height: 100%;
	background: linear-gradient(45deg, transparent, currentColor, transparent);
	border-radius: inherit;
	animation: blink 2s linear infinite;
}
.star::before {
	transform: rotate(45deg);
}
.star::after {
	transform: rotate(-45deg);
}

@keyframes fall {
	to {
		transform: translate3d(-30em, 0, 0);
	}
}

@keyframes tail-fade {
	0%,
	50% {
		width: var(--star-tail-length);
		opacity: 1;
	}
	70%,
	80% {
		width: 0;
		opacity: 0.4;
	}
	100% {
		width: 0;
		opacity: 0;
	}
}

@keyframes blink {
	50% {
		opacity: 0.6;
	}
}
