@font-face {
    font-family: 'Minecraft regular';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: "Minecraft regular", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    /* max-height: 100vh; */
    /*background: rgba(14, 16, 20, 1);
	background: #d6d6d6;*/
    color: #acb2b8;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px dashed #777;
    z-index: 1;
}

.hud{
    position: absolute;
    padding: 10px;
    color: #000;
    font-size: 1em;
    z-index: 2;
    user-select: none;
}





.lifes {
    top: 0;
    left: 0;
}

.waves {
    top: 0;
    left: 25%;
}

.time {
    top: 0;
    right: 25%;
} 

.score { 
    top: 0;
    right: 0;
}



h1 {
    font-weight: 100;
}

h1 em {
    font-style: normal;
    font-weight: bold;
    color: #777;
}

.HomePage {
    display: none;
}

.HomePage.active {
    display: block;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffb3;
    border-radius: 5px;
    border-style:dashed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    top: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button{
    cursor: pointer;
    height: 30px;
    width: 250px;
    color: #fff;
    background: url(../images/btn1.png) no-repeat;
    background-size: contain;
    border-style: none;
    margin: auto;
}

button:hover{
    background: url(../images/btn2.png) no-repeat;
    background-size: contain;
}

div{
    text-align: center;
}

.box {
    /*On cache la box*/
    display: none;
    /*Position de la box*/
    position: fixed;
    top: 0%;
    left: 0%;
    /*La Box prend toute la taille de l'écran*/
    width: 100%;
    height: 100%;
    /* Utilisation de flexbox */
    z-index: 10;
    flex-direction: column;
    align-items: center;
    /* Les éléments sont empilés verticalement */
}

.box :active {
    display: flex;
}

.gameOver{
    background: rgba(250, 0, 0, 0.585);
}

.scoreboard {
    background: rgba(44, 62, 80, 0.585);
}


.difficulty {
    margin: 20px;
}

.difficulty label {
    display: block;
    font-weight: bold;
}

.difficulty select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


.switch {
    margin: 10px;
}

/*  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 50%;
    left: 5%;
    bottom: 5%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(80%);
    -ms-transform: translateX(80%);
    transform: translateX(80%);
  }

*/

/*button[type="submit"] {
    background-color: #2c3e50;
    color: #fff;
    padding: 8px 16px;
    height:31px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    background: url(../images/btn1.png) no-repeat;
    background-size: contain;
}*/
/*
button[type="submit"] {
    cursor: pointer;
    height: 2em;
    width: 100%;
    color: #fff;
    background: url(../images/btn1.png) no-repeat;
}

button[type="submit"]:hover {
    height: 2em;
    background-color: #34495e;
    background: url(../images/btn2.png) no-repeat;
}*/

/*
.restartButton {
    height: 40px;
    width: 405px;
    text-align: center;
    color: white;
    cursor: pointer;
    background: url(../images/btn1.png) no-repeat;
    background-size: contain;
    line-height: 26px;
    padding-top: 6px;
    margin-top: 20px;
}*/
/*
.restartButton {
    cursor: pointer;
    height: 29px;
    width: 250px;
    margin: 5px;
    color: #fff;
    background: url(../images/btn1.png) no-repeat;
    background-size: contain;
    border-style: none;
}

.restartButton:hover {
    background: url(../images/btn2.png) no-repeat;
    background-size: contain;
}*/



/*.scoreboardButton {
    height: 40px;
    width: 405px;
    text-align: center;
    color: white;
    cursor: pointer;
    background: url(../images/btn1.png) no-repeat;
    background-size: contain;
    line-height: 26px;
    padding-top: 6px;
    margin-top: 20px;}*/
/*
.scoreboardButton {
    cursor: pointer;
    height: 29px;
    width: 250px;
    margin: 5px;
    color: #fff;
    background: url(../images/btn1.png) no-repeat;
    background-size: contain;
}

.scoreboardButton:hover {
    height: 29px;
    background-color: #34495e;
    background: url(../images/btn2.png) no-repeat;
    background-size: contain;
}
*/

