
@font-face {
    font-family: 'Minecraft regular';
    src: url('../css/Minecraft.ttf') format('truetype');
}
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	/* max-height: 100vh; */
	/*background: rgba(14, 16, 20, 1);
	background: #d6d6d6;*/
	color: #acb2b8;
	color: #777;
	font-family: "Minecraft regular", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-weight: 100;
}
h1 em {
	font-style: normal;
	font-weight: bold;
	color: #777;
}

.HomePage {
	display: none;
}

.HomePage.active {
	display: block;
}

login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffb3;
    box-shadow: 0px 0px 5px 0px rgba(160, 159, 159, 0.1);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    
    

.container{
   
    display: flex;
    align-items: center; 
    justify-content: center;
     
}





h2 {
    text-align: center;
    margin-bottom: 20px;
    top : 15px;
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #2c3e50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #34495e;
}


.gameOver {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(250, 0, 0, 0.585);
    z-index: 100;
    display: flex; /* Utilisation de flexbox */
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; /* Les éléments sont empilés verticalement */
}

.gameOver :active {
    display: block;
}

.restartButton {
    height: 40px;
    width: 405px;
    text-align: center;
    color: white;
    cursor: pointer;
    background: url(../images/btn1.png) no-repeat;
    line-height: 26px;
    padding-top: 6px;
    margin-top: 20px; /* Ajout d'une marge en haut pour l'espace */
}

.restartButton:hover {
    background: url(../images/btn2.png) no-repeat;
}

.scoreboard {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(44,62,80, 0.585);
    z-index: 100;
    display: flex; /* Utilisation de flexbox */
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; /* Les éléments sont empilés verticalement */
}

.scoreboard :active {
    display: block;
}

.scoreboardButton {
    height: 40px;
    width: 405px;
    text-align: center;
    color: white;
    cursor: pointer;
    background: url(../images/btn1.png) no-repeat;
    line-height: 26px;
    padding-top: 6px;
    margin-top: 20px; /* Ajout d'une marge en haut pour l'espace */
}

.scoreboardButton:hover {
    background: url(../images/btn2.png) no-repeat;
}